body {
    background-color: rgb(171, 202, 242);
}

header {
    padding: 2em;
    padding-top: 1em;
}

h1 {
    font-family: "Croissant One", serif;
    text-align: center;
    font-size: 4em;
    color: rgb(74, 4, 4);
}

#questions {
    display: block;
    padding: 3em;
    background-image: url(images/paper.JPG);
    background-size: cover;
    position: relative;   
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay article {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(images/paper.JPG);
    background-size: cover;
    width: 60%;
    height: 70vh;
    padding: 40px;
}

h2{
    font-family: "Gamja Flower", sans-serif;
    font-size: 2em;
}

form {
    font-family: "Gamja Flower", sans-serif;
}

form input, form label {
    display: block;
    font-family: "Gamja Flower", sans-serif;
}

#questionsdiv {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 4em;
    font-family: "Gamja Flower", sans-serif;
}

button {
    font-family: "Gamja Flower", sans-serif;
}

.answersp {
    font-family: "Gamja Flower", sans-serif;
    font-size: 2em;
    padding: 1em;
}

