body {
    background-color: rgb(171, 202, 242);
}

header {
    padding: 2em;
    padding-top: 1em;
}

h1 {
    font-family: "Croissant One", serif;
    text-align: center;
    font-size: 4em;
    color: rgb(74, 4, 4);
}

#questions {
    display: block;
    padding: 3em;
    background-image: url(images/paper.JPG);
    background-size: cover;
    position: relative;   
}

#answers {
    display: none;
}

#answersdiv {
    display: flex;
}

h2{
    font-family: "Gamja Flower", sans-serif;
    font-size: 2em;
}

form {
    font-family: "Gamja Flower", sans-serif;
}

form input, form label {
    display: block;
    font-family: "Gamja Flower", sans-serif;
}

#questionsdiv {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 4em;
    font-family: "Gamja Flower", sans-serif;
}

button {
    font-family: "Gamja Flower", sans-serif;
}
